<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/login.css')}}">
    <title>Document</title>
</head>
<body>
    <h1><b></b></h1>
    <form action="", method="POST">
        <input type="text" name="uname" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit"><b>Submit</b></button>
    </form>
    <!-- <div class="ps">Tap center of screen for keypad down</div> -->
</body>
<script src="{{url_for('static', filename='js/login.js')}}"></script>
</html>